*__pycache__
*/*__pycache__
*/*/*__pycache__
*/*/*/*__pycache__
*/*/*/*/*__pycache__
*/*/*/*/*/*__pycache__
*/*/*/*/*/*/*__pycache__
*/*/*/*/*/*/*/*__pycache__
*/*/*/*/*/*/*/*/*__pycache__
*/*/*/*/*/*/*/*/*/*__pycache__

# ignore notebooks for now

*.ipynb_checkpoints
*.ipynb
