*__pycache__
*/*__pycache__
*/*/*__pycache__
*/*/*/*__pycache__
*/*/*/*/*__pycache__
*/*/*/*/*/*__pycache__
*/*/*/*/*/*/*__pycache__
*/*/*/*/*/*/*/*__pycache__
*/*/*/*/*/*/*/*/*__pycache__
*/*/*/*/*/*/*/*/*/*__pycache__
*.pyc
*/*/*.pyc
*/*/*/*/*.pyc
*/*/*/*/*/*.pyc
*/*/*/*/*/*/*.pyc
*/*/*/*/*/*/*/*.pyc
*/*/*/*/*/*/*/*/*.pyc
*/*/*/*/*/*/*/*/*/*.pyc
*/*/*/*/*/*/*/*/*/*/*.pyc

*.DS_Store*
*.pyc
*.ipynb*

*flask_session*
