{% extends "layout.html" %}
{% block content %}

<div class="glow">
  Participating Teams
</div>

{% for team in teams %}
{% if (loop.index - 1) % 3 == 0 %}
  <br>
{% endif%}
<div class="flip-box rowflips blockflips">
<div class="flip-box-inner">
<div class="flip-box-front">
  <h2 class = "theader rank1">{{team.name}}</h2>
  {% for user in team.users %}
    <p class = "titem">
      {{user.username}}
    </p>
  {% endfor %}
</div>
<div class="flip-box-back">
  <h2 class = "rank1"> Team Stats</h2>
  <p class = "titem">
    Team Name: {{ team.name }}
  </p>
  <p class = "titem">
    Overall Score: {{ "%.3f"|format(team.overallscore) }}
  </p>
  <p class = "titem">
    Total Submissions: {{ team.questions|length }}
  </p>
</div>
</div>
</div>
{% endfor %}

{% endblock content %}
