.code-box {
    background-color: #282c34;
    color: #00ff00
    border-radius: 50px;
    overflow: auto;
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    margin: 0 autho;
    padding: 10px;
}

.text-box {
    border-radius: 5px;
    overflow: hidden;
    width: auto;
    max-width: 1000px;
    height: auto;
    max-height: 100%;
    margin: 10;
    padding: 10px;
}

.chat-box {
    background-color: white
}

.code-box code {
  line-height: 1.5; /* Change this value to your preference */
  white-space: pre-wrap;
  overflow-x: auto;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #FFFFFF;
}

.code span::before {
  color: #FFFFFF;
}

.line-numbers {
    counter-reset: line 0;
    float: left;
    line-height: 1.; /* Change this value to your preference */
    white-space: pre-wrap;
    overflow-x: auto;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.line-numbers span::before {
    content: counter(line);
    counter-increment: line 1;
    display: block;
    color: #00ff00;
}

.join_div {
        background-color: #fff;
    }

.custom-sidebar {
  background-color: black; /* Change this to your desired color */
}