{% extends "layout.html" %}
{% block content %}

<!-- Begin page content -->
<div class="container-fluid">
  <div class="row">
    
    <div class="col-md-10 offset-md-2">
      <!-- Your main content goes here -->
      <div class="chat-display-container">
        <div id="list-group" class="list-group w-auto">
          <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <img src="https://digital-practice.ams3.cdn.digitaloceanspaces.com/static%2Fapp%2Fimg%2Fopenai-logo.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
            <div class="d-flex gap-2 w-100 justify-content-between">
              <div>
                <p class="mb-0 opacity-75">Hello, I am the AI4EIC-LAB. How may I help you, 
                  I am an expert in pytorch and writing code. I am also aware of Hadron Physics. Ask me your question....</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="chat-input-text-container input-group mb-3">
        <textarea id="chat-input" class="form-control custom-control" oninput='resizeTextarea(this)'></textarea>
        <span id="gpt-button" class="input-group-asson btn btn-primary">Chat with AI4EIC</span>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

<script>
  $(document).ready(function () {
    let isChatting = false;
    let currentSection = "default"; // Default section

    // Load the saved tab content and button states on page load
    //loadTabContent();
    //loadButtonStates();

    // Handle section changes
    $(".section-link").click(function () {
      // Update the current section when a section link is clicked
      currentSection = $(this).attr("data-section");

      // Load the saved button states for the new section
      //loadButtonStates();
    });

    $("#gpt-button").attr("disabled", true);

    $("#gpt-button").click(function () {
      chat();
    });

    $("#chat-input").keypress(function (event) {
      if (event.which == 13) {
        event.preventDefault();
        chat();
      }
    });

    function loadTabContent() {
      // Retrieve the stored tab content from localStorage
      var storedTabContent = localStorage.getItem(`tabContent_${currentSection}`);

      // If there's stored tab content, update the tab
      if (storedTabContent) {
        $("#list-group").html(storedTabContent);
      }
    }

    function saveTabContent() {
      // Save the current tab content for the current section to localStorage
      var currentTabContent = $("#list-group").html();
      localStorage.setItem(`tabContent_${currentSection}`, currentTabContent);
    }

    function loadButtonStates() {
      // Retrieve the stored button states from localStorage
      var storedDownloadButtonState = localStorage.getItem(`downloadButtonState_${currentSection}`);
      var storedPushButtonState = localStorage.getItem(`pushButtonState_${currentSection}`);
      var storedCancelButtonState = localStorage.getItem(`cancelButtonState_${currentSection}`);

      // If there are stored button states, update the buttons
      if (storedDownloadButtonState) {
        $("#downloadButton").prop("disabled", JSON.parse(storedDownloadButtonState));
      }

      if (storedPushButtonState) {
        $("#pushButton").prop("disabled", JSON.parse(storedPushButtonState));
      }

      if (storedCancelButtonState) {
        $("#cancelButton").prop("disabled", JSON.parse(storedCancelButtonState));
      }
    }

    function saveButtonStates() {
      // Save the current button states for the current section to localStorage
      var downloadButtonState = $("#downloadButton").prop("disabled");
      var pushButtonState = $("#pushButton").prop("disabled");
      var cancelButtonState = $("#cancelButton").prop("disabled");

      localStorage.setItem(`downloadButtonState_${currentSection}`, downloadButtonState);
      localStorage.setItem(`pushButtonState_${currentSection}`, pushButtonState);
      localStorage.setItem(`cancelButtonState_${currentSection}`, cancelButtonState);
    }

    function download(data) {
      const blob = new Blob([data], { type: "application/x-python-code" });

      const href = URL.createObjectURL(blob);
      URL.revokeObjectURL(href);

      const a = Object.assign(document.createElement('a'), { href, style: "display:none", download: "program.py" });
      document.body.appendChild(a);

      a.click();
      URL.revokeObjectURL(href);
      a.remove();
    }

    document.getElementById('chat-input').addEventListener('input', resizeTextarea);

    function chat() {
      if (isChatting) {
        return; // Don't proceed if a chat request is already ongoing
      }

      var question = $("#chat-input").val();
      console.log("Test");
      $("#chat-input").focus();

      let html_data = '';
      html_data += `<a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3">
        <img src="{{ url_for('static', filename='images/ai4eic-logo.png') }}" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
        <div class="d-flex gap-2 w-100 justify-content-between">
          <div>
            <p class="mb-0 opacity-75">${question}</p>
          </div>
        </div>
      </a>`;
      $("#chat-input").val('');
      $("#list-group").append(html_data);
      resetTextarea();

      isChatting = true; // Set the flag to indicate the start of the chat request

      $.ajax({
        type: "POST",
        url: "/chatGPT",
        data: { 'prompt': question },
        beforeSend: function () {
          $("#gpt-button").attr("disabled", true);
        },
        success: function (data) {
          let gpt_data = '';
          gpt_data += `
           <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <img src="https://digital-practice.ams3.cdn.digitaloceanspaces.com/static%2Fapp%2Fimg%2Fopenai-logo.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div id="chat_box"></div>
            </div>
          </a>`;
          $("#list-group").append(gpt_data);
          generateCodeBox(data);
          saveTabContent();
          saveButtonStates(); // Save the button states after updating the chat
        },
        complete: function () {
          isChatting = false; // Reset the flag when the chat request is complete
          $("#gpt-button").attr("disabled", false);
        }
      });
    }
  });
</script>

<script>
    function generateCodeBox(data) {
      const chatContainer = document.createElement('div');
      chatContainer.classList.add('chat-box');

      // Declare downloadButton outside the loop
      var downloadButton;

      for (let i = 0; i <= data.n_code - 1; i++) {
        var codeBox = document.createElement('div');
        codeBox.classList.add('code-box');

        var codeContainer = document.createElement('div');
        var text_box = document.createElement('div');
        text_box.classList.add('text-box');

        codeBox.innerHTML = `<code class='code-box'>${data.code[i]}</code>`;
        text_box.innerHTML = `<div class='text-box'>${data.text[i]}</div>`;

        codeContainer.appendChild(codeBox);

        if (data.is_downloadable[i]) {
          downloadButton = document.createElement('button');
          downloadButton.innerHTML = 'Download Code';

          downloadButton.onclick = function () {
            // Disable the "Download Code" button to prevent multiple clicks
            downloadButton.disabled = true;

            const filenameInput = document.createElement('input');
            filenameInput.type = 'text';
            filenameInput.placeholder = 'Enter entire file name...';

            const pushButton = document.createElement('button');
            pushButton.innerHTML = 'Push';
            pushButton.style.color = 'red'

            const cancelButton = document.createElement('button');
            cancelButton.innerHTML = 'Cancel';

            const successMessage = document.createElement('div');
            successMessage.style.color = 'green';

            cancelButton.onclick = function () {
              // Remove the input, buttons, and success message on cancel
              filenameInput.remove();
              pushButton.remove();
              cancelButton.remove();
              successMessage.remove();

              // Enable the "Download Code" button again
              downloadButton.disabled = false;
            };

            pushButton.onclick = function () {
              const filename = filenameInput.value.trim();
              if (filename !== '') {
                // Call your logic here to process the data (e.g., send to server)
                const dataToSend = {
                  filename: filename,
                  code: data.code[i]
                };

                // Make an AJAX request to send data to the server
                $.ajax({
                  type: "POST",
                  url: "/process_text",
                  contentType: 'application/json;charset=UTF-8',
                  data: JSON.stringify(dataToSend),
                  success: function (response) {
                    // Remove the input and buttons after pushing
                    filenameInput.remove();
                    pushButton.remove();
                    cancelButton.remove();

                    // Display success message
                    const successMessage = document.createElement('div');
                    successMessage.style.color = 'green';
                    successMessage.innerHTML = 'Successfully pushed to AWS.';
                    codeContainer.appendChild(successMessage);

                    // Enable the "Download Code" button again
                    downloadButton.disabled = false;

                    // Fade out the success message after 3 seconds
                    setTimeout(function () {
                      successMessage.style.opacity = '0';
                      setTimeout(function () {
                        successMessage.remove();
                      }, 1000); // Remove the success message after fade out
                    }, 3000);
                  },
                  error: function (error) {
                    // Handle errors if the request fails
                    alert("Error sending data to the server.");
                    console.error(error);
                  }
                });
              } else {
                alert('Please enter a valid filename.');
              }
            };

            codeContainer.appendChild(filenameInput);
            codeContainer.appendChild(pushButton);
            codeContainer.appendChild(cancelButton);
          };

          codeContainer.appendChild(downloadButton);
        }

        chatContainer.appendChild(text_box);
        chatContainer.appendChild(codeContainer);
      }

      var text_box = document.createElement('div');
      text_box.innerHTML = `<div class='text-box'>${data.text[data.n_text - 1]}</div>`;
      chatContainer.appendChild(text_box);
      document.getElementById('chat_box').appendChild(chatContainer);
      $("#list-group").append(chatContainer);
    }
</script>

<script>
    function updateButtonTitles(titles) {
      var sidebar = document.getElementById('sidebar');
      var buttons = sidebar.querySelectorAll('button');

      buttons.forEach(function(button, index) {
        button.innerText = titles[index];
      });
    }
</script>

<script>
  function resizeTextarea() {
    const textarea = document.getElementById('chat-input');

    // Set the fixed height for the textarea
    const fixedHeight = 140; // You can adjust this value based on your design

    // Set the height to be fixed
    textarea.style.height = fixedHeight + 'px';

    // Reset the scroll position to the bottom
    textarea.scrollTop = textarea.scrollHeight;
  }
</script>

<script>
    function resetTextarea() {
      const textarea = document.getElementById('chat-input');
      textarea.style.height = ''; // Reset the height
    }
</script>

{% endblock content %}
