{% extends "layout.html" %}
{% block content %}

<div class="glow">
  Statistics for {{tname}}
</div>

{% for qnum, questions in ques_dict.items() %}
  <br>
  <h2 class = "h2white"> Question {{qnum}} Statistics</h2>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th> User </th>
          <th> Score </th>
          <th> submit time </th>
          <th> Remarks </th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        {% for q in questions %}
        <tr>
        <td>{{ q.username }}</td>
        <td>{{ "%.3f"|format(q.qscore) }}</td>
        <td>{{ q.submit_time }}</td>
        <td>{{ q.remarks }} </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <hr color = "white">
{% endfor%}

{% endblock content %}
