{% extends "layout0.html" %}
{% block content %}
<!-- The Hackathon leaderboard -->
<div class = "container">
<h1 class="glow"> Hackathon Leaderboard</h1>
</div>
<div class="container">

<div class="tbl-header">
  <table cellpadding="0" cellspacing="0" border="0">
    <thead>
      <tr>
        <th>Rank </th>
        <th> Team </th>
        <th> Score </th>
        <th> Questions Attemped </th>
      </tr>
    </thead>
  </table>
</div>
<div class="tbl-content">
  <table cellpadding="0" cellspacing="0" border="0">
    <tbody>
      {% for team in teaminfo %}
      <tr>
      {% if loop.index == 1 and team.overallscore > 0 %}
      <td class = "rank{{loop.index}}">🥇 {{loop.index}}</td>
      <td class = "rank{{loop.index}}">{{team.name}}</td>
      <td class = "rank{{loop.index}}">{{"%.3f"|format(team.overallscore)}}</td>
      <td class = "rank{{loop.index}}">{{ques_info[team.name]}}</td>
      {% elif loop.index == 2 and team.overallscore > 0 %}
      <td class = "rank{{loop.index}}">🥈 {{loop.index}}</td>
      <td class = "rank{{loop.index}}">{{team.name}}</td>
      <td class = "rank{{loop.index}}">{{"%.3f"|format(team.overallscore)}}</td>
      <td class = "rank{{loop.index}}">{{ques_info[team.name]}}</td>
      {% elif loop.index == 3 and team.overallscore > 0 %}
      <td class = "rank{{loop.index}}">🥉 {{loop.index}}</td>
      <td class = "rank{{loop.index}}">{{team.name}}</td>
      <td class = "rank{{loop.index}}">{{"%.3f"|format(team.overallscore)}}</td>
      <td class = "rank{{loop.index}}">{{ques_info[team.name]}}</td>
      {% elif team.overallscore == 0.0 %}
      <td> </td>
      <td>{{team.name}}</td>
      <td>{{"%.3f"|format(team.overallscore)}}</td>
      <td>{{ques_info[team.name]}}</td>
      {% else %}
      <td>{{loop.index}}</td>
      <td>{{team.name}}</td>
      <td>{{"%.3f"|format(team.overallscore)}}</td>
      <td>{{ques_info[team.name]}}</td>
      {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>

<br>

<div class = "qboxrow">
  <div class = "q1box">
    <h4 class = "qheader">Question 1</h4>
    {% for ques in ques_dict[1] %}
      <p class = "qbanner rank{{loop.index}}">
        {{ ques.teamname }}: {{ "%.3f"|format(ques.qscore)}}
      </p>
    {% endfor %}
  </div>
  <div class = "q2box">
    <h4 class = "qheader">Question 2</h4>
    {% for ques in ques_dict[2] %}
      <p class = "qbanner rank{{loop.index}}">
        {{ ques.teamname }}: {{ "%.3f"|format(ques.qscore)}}
      </p>
    {% endfor %}
  </div>
  <div class = "q3box">
    <h4 class = "qheader">Question 3</h4>
    {% for ques in ques_dict[3] %}
      <p class = "qbanner rank{{loop.index}}">
        {{ ques.teamname }}: {{ "%.3f"|format(ques.qscore)}}
      </p>
    {% endfor %}
  </div>
</div>

<br>


{% endblock content %}
