{% extends "layout0.html" %}
{% block content %}
<!-- The Hackathon leaderboard -->
<div class = "container">
<h1 class="glow"> Hackathon Leaderboard</h1>
</div>

<div class="tbl-header">
  <table cellpadding="0" cellspacing="0" border="0">
    <thead>
      <tr>
        <th>Rank </th>
        <th> Team </th>
        <th> Score </th>
        <th> Questions Attemped </th>
      </tr>
    </thead>
  </table>
</div>
<div class="tbl-content">
  <table cellpadding="0" cellspacing="0" border="0">
    <tbody>
      <tr>
          <td class = "rank1" >🎖 1</td>
          <td class = "rank1"> JINR</td>
          <td class = "rank1">293.896</td>
          <td class = "rank1">Q1, Q2, Q3</td>
      </tr>
      <tr>
          <td class = "rank2" >🥈 2</td>
          <td class = "rank2"> Jets</td>
          <td class = "rank2">293.535</td>
          <td class = "rank2">Q1, Q2, Q3</td>
      </tr>
      <tr>
          <td class = "rank3" >🥉 3</td>
          <td class = "rank3"> PLYD</td>
          <td class = "rank3">248.504</td>
          <td class = "rank3">Q1, Q2, Q3</td>
      </tr>
      <tr>
          <td>4</td>
          <td>JB and EC</td>
          <td>233.473</td>
          <td>Q1, Q2, Q3</td>
      </tr>
      <tr>
          <td>5</td>
          <td>In Principle</td>
          <td>229.323</td>
          <td>Q1, Q2, Q3</td>
      </tr>
      <tr>
          <td>6</td>
          <td>Team Manitoba</td>
          <td>177.200</td>
          <td>Q1, Q2, Q3</td>
      </tr>
      <tr>
          <td>7</td>
          <td>Team WM and DK</td>
          <td>62.075</td>
          <td>Q1</td>
      </tr>
      <tr>
          <td> </td>
          <td>Team AM</td>
          <td>0.000</td>
          <td>Q1</td>
      </tr>
      <tr>
          <td> </td>
          <td>Team CUK</td>
          <td>0.000</td>
          <td>Yet to submit</td>
      </tr>
      <tr>
          <td> </td>
          <td>Team Regina</td>
          <td>0.000</td>
          <td>Yet to submit</td>
      </tr>
    </tbody>
  </table>
</div>

<br>

<div class = "qboxrow">
  <div class = "q1box">
    <h4 class = "qheader">Question 1</h4>
    {% for ques in ques_dict[1] %}
      <p class = "qbanner rank{{loop.index}}">
        {{ ques.teamname }}: {{ "%.3f"|format(ques.qscore)}}
      </p>
    {% endfor %}
  </div>
  <div class = "q2box">
    <h4 class = "qheader">Question 2</h4>
    {% for ques in ques_dict[2] %}
      <p class = "qbanner rank{{loop.index}}">
        {{ ques.teamname }}: {{ "%.3f"|format(ques.qscore)}}
      </p>
    {% endfor %}
  </div>
  <div class = "q3box">
    <h4 class = "qheader">Question 3</h4>
    {% for ques in ques_dict[3] %}
      <p class = "qbanner rank{{loop.index}}">
        {{ ques.teamname }}: {{ "%.3f"|format(ques.qscore)}}
      </p>
    {% endfor %}
  </div>
</div>

<br>


{% endblock content %}
