{% extends "layout.html" %}
<link href="{{ url_for('static', filename='simplemde.min.css') }}" rel="stylesheet" type="text/css">
{% block content %}
    {% block javascript %}
        <script src="{{ url_for('static',filename='simplemde.min.js') }}"></script>
    {% endblock %}
    <div class="boxed-container content-section">
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group whitecolor">
                <legend class="border-bottom mb-4 whitecolorh2">Start a new ChatGPT session</legend>
                <div class="form-group whitecolor">
                    {{ form.name.label(class="form-control-label") }}
                    {% if form.name.errors %}
                        {{ form.name(class="form-control form-control-lg is-invalid", place_holder = "Optional Name -- Will save only if given") }}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name(class="form-control form-control-lg", value = name) }}
                    {% endif %}
                </div>
                <div class="form-group whitecolor">
                    {{ form.context.label(class="form-control-label") }}

                    {% if form.context.errors %}
                        {{ form.context(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.context.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.context(class="form-control form-control-lg", value = context) | safe }}
                    {% endif %}
                </div>
                <script>
                    var simplemde = new SimpleMDE({ element: document.getElementById("context") });
                </script>
            </fieldset>
            <div class="form-group whitecolor">
                {{ form.submit(class="btn btn-outline-info btn-onclick") }}
            </div>
            </div>
        </form>
    </div>
{% endblock content %}
