{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group whitecolor">
                <legend class="border-bottom mb-4 whitecolorh2">Start a new ChatGPT session</legend>
                <div class="form-group whitecolor">
                    {{ form.name.label(class="form-control-label") }}
                    {% if form.name.errors %}
                        {{ form.name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name(class="form-control form-control-lg", value = name) }}
                    {% endif %}
                </div>
                <div class="form-group whitecolor">
                    {{ form.context.label(class="form-control-label") }}

                    {% if form.context.errors %}
                        {{ form.context(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.context.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.context(class="form-control form-control-lg", value = context) }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group whitecolor">
                {{ form.submit(class="btn btn-outline-info btn-onclick") }}
            </div>
            </div>
        </form>
    </div>
{% endblock content %}
