{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group whitecolor">
                <legend class="border-bottom mb-4 whitecolorh2">Question Submission portal</legend>
                <div class="form-group whitecolor">
                    {{ form.teamname.label(class="form-control-label") }}
                    {% if form.teamname.errors %}
                        {{ form.teamname(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.teamname.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.teamname(class="form-control form-control-lg", value = tname) }}
                    {% endif %}
                </div>
                <div class="form-group whitecolor">
                    {{ form.username.label(class="form-control-label") }}

                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg", value = uname) }}
                    {% endif %}
                </div>
                <div class="form-group whitecolor">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group whitecolor">
                    {{ form.qnumber.label(class="form-control-label") }}
                    {% if form.qnumber.errors %}
                        {{ form.qnumber(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.qnumber.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.qnumber(class="form-control form-control-lg")}}
                    {% endif %}
                </div>
                <div class="form-group whitecolor">
                    {{ form.result_file.label() }}
                    {{ form.result_file(class="form-control-file") }}
                    {% if form.result_file.errors %}
                        {% for error in form.result_file.errors %}
                            <span class="text-danger whitecolor">{{ error }}</span><br>
                        {% endfor %}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group whitecolor">
                {{ form.submit(class="btn btn-outline-info btn-onclick") }}
            </div>
            </div>
        </form>
    </div>
{% endblock content %}
